@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  border-bottom: 3px solid transparent;
  transition: 0.2s ease;
}

a:hover {
  border-color:#c2255c;
}

.logo svg {
  width: 100px;
  height: auto
}

@keyframes horizontalReel {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes verticalReel {
  0% {
    top: 0;
  }

  100% {
    top: -105%;
  }
}

.horizontalReel {
  animation: horizontalReel 25s linear infinite;
}

.verticalReel {
  animation: verticalReel 25s linear infinite;
}

.table--column__sticky {
  position: sticky;
  left: 0;
  z-index: 10;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}